<div class="ui center aligned grid container">
	<div class="column centered">
		<div class="intro">
			<h1>Sup Seasonal</h1>
			<div>Welcome to Sup Seasonal, a web application build to help users eat seasonally! You are able to search for a specific ingredient to view the months of the year the ingredient is in season or search by specific month to either view foods in season for
				that month or view a list of recipes made with the seasonal ingredients for that month.</div>
		</div>
	</div>
</div>
